.connect-banner {
  background: url("/images/pic6.png") no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr auto;
  place-content: center;
  background-color: radial-gradient(
    47.88% 123.12% at 63.82% 50%,
    rgba(0, 0, 0, 0) 6.89%,
    rgba(0, 0, 0, 0.53) 89.53%
  );
  .overlay {
    // background: radial-gradient(
    //   47.88% 123.12% at 63.82% 50%,
    //   rgba(0, 0, 0, 0) 6.89%,
    //   rgba(0, 0, 0, 0.53) 89.53%
    // );
    // height: 75vh;
    &-inner {
      display: flex;
      // background-color: red;
      //   height: 100%;
      align-items: center;
      justify-content: center;
      h1 {
        font-weight: 900;
        color: $light;
      }
    }
  }

  .wrapper {
    margin-top: 2rem;
    .text-content {
      color: white;
      h4 {
        margin-bottom: 1rem;
      }
    }
    .btn {
      padding: 0.5rem 2rem;
      border-radius: 0;
    }
  }
  .d-md-flex {
    gap: 1.5rem;
  }
  .form-control {
    background-color: $transparent-primary;
    border: none;
    color: white;
    font-weight: 500;
    &::placeholder {
      color: white;
    }
  }
}
