.front-nav {
  background: linear-gradient(
    269.99deg,
    #000000 14.57%,
    rgba(0, 0, 0, 0.928298) 51.44%,
    rgba(0, 0, 0, 0.145493) 103.43%,
    rgba(0, 0, 0, 0) 103.43%
  );

  .nav-brand {
    display: flex;
    align-items: center;
    img {
      width: 4rem;
    }
    .logo-text {
      margin-left: 0.5rem;
      p {
        margin: 0;
        line-height: 1.2;
      }
      .top {
        span {
          font-size: 0.8rem;
        }
        letter-spacing: 0.2rem;
      }
      .bottom {
        letter-spacing: 0.2rem;
        font-size: 0.8rem;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }

  ul.nav {
    .get-involved {
      .dropdown-menu {
        border: 0;
        background: #040404;

        .nav-item {
          border-bottom: 2px solid $light;
        }
        &.show {
          text-align: center;

          // display: flex;
          // flex-direction: column;
          // align-items: center;
        }
      }
    }
  }
}
